extends layout

block content
    h1= title
    div
        table.table.table-hover
            thead
                tr: th Registered people:
            tbody
                each entry in data
                    tr
                        td=entry.name

    p
    
    if hideSubmit
        p Thank you for registering
    else
        div
            form(action='/regList' method='post')
                div(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='name') Name 
                            input(id='name' type='text' value='' placeholder='Type your name' name='name')
                div(data-role='fieldcontain')
                    p
                    input(type='submit' value='Register' data-transition='fade' data-theme='c')